<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/base.css')}}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Yearview</title>
    {% block head %}{% endblock %}
</head>

<body>

    <div class="title">
        <h1>YearView</h1>
        <h5>Relive &nbsp; &middot; &nbsp; Your &nbsp; &middot;  &nbsp; Year</h5>
    </div>

    {% block body %} {% endblock %}
    
</body>
</html>