{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/login.css')}}"/>
{% endblock %}

{% block body %}

    {% with message = get_flashed_messages() %}
        {% if message %}
            <p id='alert'>{{message[0]}}</p>
            {% if message[1] == 'bad' %}
                <style> #alert{color: rgb(122, 26, 26)}</style>
            {% else %}
                <style> #alert{color: rgb(48, 187, 66) 26)}</style>
            {% endif %}
        {% endif %}
    {% endwith %}

    <div class="login">

        <h3>{{form_text}}</h3>

        <form action='{{action}}' method="POST">
            
            {% block before %}{% endblock %}

            <input type="username" name="username" required placeholder="Username"/>
            <input type="password" name="password" required placeholder="Password"/>
            
            {% block after %}{% endblock %}

            <button type="submit" id=login-button>{{button_text}}</button>

            {% if button_text == 'Login' %}
                <p><strong>Don't have an account?</strong> <a href="/signup" id="new-account">Sign Up</a></p>
            {% endif %}

        </form>


    </div>

{% endblock %}