{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/main.css')}}"/>
{% endblock %}

{% block title %}
    <div style="display: flex; align-items: center;">
        <h5>Welcome, {{name}}!</h5>
    </div>
{% endblock %}

{% block body %}

    <div class="add-pics">
        
        <h3>Add Pictures</h3>

        <form action='/user/add-image' method="POST" enctype="multipart/form-data">

                <!-- <input type="textarea" name="image_description" placeholder="Enter a Short Description of Image" /> -->
                <textarea type="textarea" style="resize: none; margin: 10px 0px 10px 0px; font-size: 15px;" name="image_description" rows="4" cols="50" placeholder="Enter a Description of Image"></textarea>
                <select name="image_category" required>
                    <option value="Other" selected disabled>Select a Category</option>
                    <option value="Personal">Personal</option>
                    <option value="Group">Group</option>
                    <option value="Food">Food</option>
                    <option value="Landscape">Landscape</option>
                    <option value="Fun">Fun</option>
                    <option value="Other">Other</option>
                </select>
                <input type="file" name="user_image" accept=".png, .jpg, .jpeg" style="font-size: 15px; margin: 10px 0px 10px 0px;" required/>
                <button type="submit" id=add-image-button>Add</button>
        </form>

    </div>

    {% if images %}
        <div class="main" style="width: 100%; text-align: center;">

            <div class="today-images" style="width: 100%; margin-top: 50px;">

                <div class="images">
                    <div class="subtitle">
                        <h1>Pictures Added Today</h1>
                        <div class="filter" style="margin-top: 8px;">
                            <h5 style="font-size: 17px;">Filter by Category: <a href="">All</a>, <a href="">Personal</a>, <a href="">Group</a>, <a href="">Food</a>, <a href="">Landscape</a>, <a href="">Fun</a>, <a href="">Other</a></h5>
                        </div>
                    </div>

                    <div class="img" style="text-align: center; margin: 50px;">
                        {% for image in images %}
                            <a href=""><img src="{{image}}" width="330px" height="380px"/></a>
                        {% endfor %}
                    </div>

                </div>

            </div>

            <div class="today-images">
            </div>
        </div>
    {% endif %}

{% endblock %}