{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/main.css')}}"/>
{% endblock %}

{% block title %}
    <div style="display: flex; align-items: center;">
        <h5>Welcome, {{name}}!</h5>
        <a href='/signout' style="text-decoration: none; color: black;"><h5 id='signout'>Logout</h5></a>
    </div>
{% endblock %}

{% block body %}
    <div class="main" style="width: 100%; text-align: center; margin-bottom: 50px;">
        <div class="today-images" style="width: 100%; margin-top: 50px;">
            <div class="images">
                <div class="subtitle">
                    <h1>Pictures From {{month}}</h1>
                    <div class="filter" style="margin-top: 8px;">
                        <h5 style="font-size: 17px;">Filter by Category: <a href="/user/{{month}}/Personal">Personal,</a> <a href="/user/{{month}}/Group">Group,</a> <a href="/user/{{month}}/Food">Food,</a> <a href="/user/{{month}}/Landscape">Landscape,</a> <a href="/user/{{month}}/Fun">Fun,</a> <a href="/user/{{month}}/Other">Other,</a> <a href="/user/{{month}}/All">Show All</a></h5>
                    </div>
                </div>

                {% if images %}
                    <div class="img" style="text-align: center; margin: 50px;">
                        {% for image in images %}
                            <a href="" ><img src="{{image}}" style="margin: 2px;" width="330px" height="380px"/></a>
                        {% endfor %}
                    </div>

                {% else %}
                    <div class="empty" style="margin-top: 40px; display: flex; justify-content: center;">
                        <h4>No Photos Added</h4>
                    </div>
                {% endif %}
                
                <div style="display: flex; justify-content: center;">
                    <a href='/user' style="text-decoration: none; color: white;"><h5 id='go-back'>Go Back</h5></a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}