*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 16vh;
    margin-bottom: 75px;
    background-color: black;
    color: white;
}