*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
body{
    background-image: url("https://wallpapercave.com/wp/wp4932383.jpg");
    background-color: white;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 16vh;
    margin-bottom: 75px;
    background-color: black;
    color: white;
}